#header {
  background-color:  rgb(184, 226, 255,0.2);
  padding: 2%;
}

#um{
  width:360;
  height: 80;
  float: right;
  margin-top: 1.2%;
  background-color: white;
}

#msp{
  width: 120;
  height: 120;
  float:left;
  margin-bottom: -2%;
}


#tit-subtit{
  text-align: center;
}

#title {
  font-size: 60;
  font-weight: bolder;
}

.showdesc{
  padding-left: -5;
}

h4 {
  text-align: center;
}

.desc-box {
  margin-top: 1%;
  padding: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #80bbc5;
}

.db{
  margin:1%;
  padding:1%;
  background-color: white;
}


.proscons {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#selecteddisease{
  text-align: center;
  font-size: 24;
  font-weight: bold;
}

#textselect {
  margin-left: 5%;
  background-color: white;
  padding: 1% 2% 1% 1%;
}

#disease_selection {
  padding:10;
  margin: 1%;
}

#disselect {
  background-color: #5485ff;
}

#find {
  background-color: #ffdb66; #80bbc5;
  color: #003ac9;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
}


#pathTable {
    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

.newcell2 {
  width: 65%;
  text-align: center;
}

.newcell1 {
  text-align: center;
}

.newcell3 {
  text-align: center;
}

#pathTable tbody{
  display:block;
  width: 100%;
  overflow: auto;
  height: 500px;
}

#pathway {
  margin-left: 10%;
}

a {
  text-decoration: none;
}

a:visited {
  color: blue;
}

#minimize {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 20 ;
  margin-left: 10;
}

#minimize:hover {
  text-decoration: none;
}

#drag {

  background-color: rgb(184, 226, 255,0.5);
  #background-color: rgb(0,0,0,0.2);
  #background-color: rgba(84, 133, 255, 0.2);
  position: absolute;
  padding: 1%;
}

#pathway_selection {
  display: block;
}

#pathname {
  text-align: center;
}

.link {
  fill: none;
  stroke: #666;
  stroke-width: 5px;
}


circle {
  fill: #80bbc5;
  stroke: #333;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
